body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: black;
}
h1 {
   font-family: 'Montserrat', sans-serif;
   font-size: 15rem
}


.letters {
   transition: color 500ms; 
}